.modal.fade(id="velikayaResults" tabindex="-1" role="dialog" aria-labelledby="velikayaResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Ксения Великая
        .block-head-divider
      .mod-body
        .modal-slider
          div(id="carouselVelikaya" class="carousel slide" data-ride="carousel" data-interval="false")
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src=require("./img/results/velikaya1.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/velikaya2.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/velikaya3.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/velikaya4.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/velikaya5.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/velikaya6.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/velikaya7.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/velikaya8.jpg") alt="")
          a.carousel-control-prev(href="#carouselVelikaya" role="button" data-slide="prev")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z")
            span.sr-only Previous
          a.carousel-control-next(href="#carouselVelikaya" role="button" data-slide="next")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")
            span.sr-only Next
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 10.4 килограмма
// ==================================================
// ==================================================
.modal.fade(id="belozertcevaResults" tabindex="-1" role="dialog" aria-labelledby="belozertcevaResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Мария Белозерцева
        .block-head-divider
      .mod-body
        .modal-slider
          div(id="carouselBelozertceva" class="carousel slide" data-ride="carousel" data-interval="false")
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src=require("./img/results/belozertceva1.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/belozertceva2.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/belozertceva3.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/belozertceva4.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/belozertceva5.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/belozertceva6.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/belozertceva7.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/belozertceva8.jpg") alt="")
          a.carousel-control-prev(href="#carouselBelozertceva" role="button" data-slide="prev")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z")
            span.sr-only Previous
          a.carousel-control-next(href="#carouselBelozertceva" role="button" data-slide="next")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")
            span.sr-only Next
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 33 килограмма
// ==================================================
// ==================================================
.modal.fade(id="kupriyanovaResults" tabindex="-1" role="dialog" aria-labelledby="kupriyanovaResultsLabel" aria-hidden="true")
  .modal-dialog.custom-width.modal-dialog-centered(role="document")
    .modal-content
      .mod-head
        .close-but(data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h3.text-center Марианна Куприянова
        .block-head-divider
      .mod-body
        .modal-slider
          div(id="carouselKupriyanova" class="carousel slide" data-ride="carousel" data-interval="false")
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src=require("./img/results/kupriyanova1.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/kupriyanova2.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/kupriyanova3.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/kupriyanova4.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/kupriyanova5.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/kupriyanova6.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/kupriyanova7.jpg") alt="")
              .carousel-item
                img.d-block.w-100(src=require("./img/results/kupriyanova8.jpg") alt="")
          a.carousel-control-prev(href="#carouselKupriyanova" role="button" data-slide="prev")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z")
            span.sr-only Previous
          a.carousel-control-next(href="#carouselKupriyanova" role="button" data-slide="next")
            svg.slider-arr(viewBox="0 0 129 129")
              g
                path(d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z")
            span.sr-only Next
      .modal-wave
        svg(x="0px" y="0px" viewBox="0 0 743 187")
          path(d="M-506.1,19.8c0,0,78.6-25.9,256-1c177.3,24.9,253.9,3.6,322.1-2  c68.1-5.6,161.2-3,257,17c95.8,20,210.8,30.3,323.1-13c112.3-43.3,178.8-8.8,253.8,11c75,19.8,82.9,19.6,98.1,18  c15.2-1.6,87.5,156.1,87.5,156.1s-1695.1-11.3-1682.9-21C-579.2,175.3-506.1,19.8-506.1,19.8z")
        .modal-wave-result - 8 килограмм